<header>
    <div class="next0">
        <div class="next">
            <div class="row">
                <div class="col-6">
                    <div class="row ">
                        <div class="col-1">
                            <div class="nextikoni1">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-1">
                            <div class="nextikoni1 ">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="nextikoni1">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-1">
                            <div class="nextikoni4">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end ml-1 ">
                        <div class="col-2 ">
                            <span class="nomer5">
                                Help Center
                            </span>
                        </div>
                        <div class="col-1">
                            <span class="nomer5">
                                Dosk
                            </span>
                        </div>
                        <div class="col-3">
                            <span class="nomer5">
                                8938-999-38-27
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border2">
        <div class="spisokdel">
            <div class="row ">

                <div class="col-3 mt-2 ">

                    <span style="font-size: 20px">Prelude</span> </div>
                <div class="col-6">
                    <ul>
                        <li class="nav-item" *ngFor="let item of menu ">
                            {{item.title}}
                        </li>

                    </ul>
                </div>
                <div class="col-3">
                    <div class="row justify-content-end mt-3 ">
                        <div class="col-2">
                            <div class="korzina">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="lupa">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-7  ">
                            <div class="contact">
                                <button type="button" class="btn btn-outline-light">Get a Quote</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="headtext">
            <div class="headtext1 text-center ">We understand the<p>
                    importance of
                    <span class="headtext2">innovation</span>
                </p>
                <div class="headtext3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<p>
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-3">
                        <div class="butt">
                            <button class="button">Lean More</button>
                            <button class="button"> Our Work</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>