<footer>
    <div class="footherblok">
        <div class="row justify-content center mt-5">
            <div class="col-3">
                <div class="gerb">
                    <img src="/assets/image/tg_image_19545711222.jpg">
                </div>
                <div class="footherikoni">
                    Lorem Ipsum является текст-заполнитель обычно используется в графических,
                    <div class="objikoni">
                        <div class="footherikoni2">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </div>
                        <div class="footherikoni2"><i class="fa fa-facebook" aria-hidden="true"></i> </div>
                        <div class="footherikoni2"><i class="fa fa-twitter" aria-hidden="true"></i> </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="footherslova">
                    <div class="ppp">About</div>
                    <div class="lll">Services</div>
                    <div class="lll">Portfolio</div>
                    <div class="lll">About</div>
                    <div class="lll">Blog</div>
                </div>
            </div>

            <div class="col-2">
                <div class="footherslova">
                    <div class="ppp">Products</div>
                    <div class="lll">Platdorm</div>
                    <div class="lll">Customers</div>
                    <div class="lll">Products</div>
                    <div class="lll">Pricing</div>
                </div>
            </div>

            <div class="col-2">
                <div class="footherslova">
                    <div class="ppp">Resources</div>
                    <div class="lll">Training</div>
                    <div class="lll">Marketplace</div>
                    <div class="lll">Experts</div>
                    <div class="lll">Guides</div>
                </div>
            </div>

            <div class="col-3">
                <div class="footherslova">
                    <div class="ppp">Offices</div>
                    <div class="nom">г.Урус-Мартан</div>
                    <div class="nom">Номер Вацапа</div>
                    <div class="nomer">(8938)999-38-27</div>
                </div>
            </div>
        </div>
    </div>

</footer>