<div class="center1">
    <div class="center">
        <div class="row">
            <div class="col-5">
                <div class="offering">
                    Offering building sulutions
                </div>
                <div class="from">Frov start to finish</div>
                <div class="row">
                    <div class="col-4">
                        <div class="kletki"></div>
                        <div class="kletki"></div>
                        <div class="kletki"></div>
                        <div class="kletki"></div>
                    </div>
                </div>
                <div class="text">
                    Давно выяснено, что при оценке дизайна и композиции читаемый
                    текст мешает сосредоточиться. Lorem Ipsum используют потому что
                    тот обеспечивает более или менее стандартное заполнение ,
                </div>
                <div><button class="btn1">About us</button></div>
            </div>
            <div class="col-7">
                <div class="imgcenter">
                    <div class="play">►</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="seredina">
            <div class="row">
                <div class="col-4">
                    <div class="aaa">
                        <div class="design">
                            We Design
                        </div>
                        <br />
                        <div class="contex">
                            Давно выяснено, что при оценке дизайна и композиции читаемый
                            текст мешает сосредоточиться.
                        </div>
                        <br />
                        <div class="lean"><span class="sss">Lea</span>n More</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aaaimg">
                        <div class="design">
                            We Build
                        </div>
                        <br />
                        <div class="contex">
                            Давно выяснено, что при оценке дизайна и композиции читаемый
                            текст мешает сосредоточиться.
                        </div>
                        <br />
                        <div class="lean">
                            <span class="sss"> Lean More</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aaa">
                        <div class="design">
                            We Maintan
                        </div>
                        <br />
                        <div class="contex">
                            Давно выяснено, что при оценке дизайна и композиции читаемый
                            текст мешает сосредоточиться.
                        </div>
                        <br />
                        <div class="lean"><span class="sss">Lea</span>n More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="bottom">
        <div class="focuced">
            <span class="focus">We focused on</span>
            <span class="focuse"> quality and attention</span>

            <div class="kletka ">
                <div class="klet"></div>
                <div class="klet"></div>
                <div class="klet"></div>
                <div class="klet"></div>
            </div>
        </div>
        <div class="bottext">
            Давно выяснено, что при оценке дизайна и композиции Lorem Ipsum
            используют потому что <br />
            тот обеспечивает более или менее стандартное заполнение
        </div>
        <div class="atam">
            <div class="row mt-5">
                <div class="col-4">
                    <div class="img1">
                        <img src="https://ck96.pro/upload/resize_cache/iblock/f3e/287_213_2/building-control.jpg"
                            class="img2" />
                        <div class="imgtext">
                            <div class="botspan">Maintenace & Repairs</div>
                            <br />
                            <div class="bot">
                                Давно выяснено, что при оценке дизайна и композиции
                            </div>
                            <div class="strelka"></div>
                            <div class="bgcolar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img1">
                        <img src="https://www.bimtechnology.pro/wp-content/uploads/Tehnadzor1.jpg" class="img2"
                            height="185px" />
                        <div class="imgtext">
                            <div class="botspan">Building & Constuction</div>
                            <br />
                            <div class="bot">
                                Давно выяснено, что при оценке дизайна и композиции
                            </div>
                            <div class="strelka"></div>
                            <div class="bgcolar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="img1">
                        <img src="https://www.skmsk.ru/i/information/building/kriterii-stroitelstva.jpg " class="img2"
                            height="185px" />
                        <div class="imgtext">
                            <div class="botspan">Civil Engineering</div>
                            <br />
                            <div class="bot">
                                Давно выяснено, что при оценке дизайна и композиции
                            </div>
                            <div class="strelka"></div>
                            <div class="bgcolar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn2">Our Services</button>
    </div>
</div>