<div class="conec">
    <div class="conectext">
        <div class="coneczagolovok1">
            Trusted by more than
            <span class="coneczagolovok2">2,000 clients</span>
        </div>

        <div class="kletki4">
            <span class="kletki"></span>
            <span class="kletki"></span>
            <span class="kletki"></span>
            <span class="kletki"> </span>
        </div>

        <div class="conectext1">
            Давно выяснено, что при оценке дизайна и композиции читаемый текст
            мешает сосредоточиться.
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый</p>
        </div>
    </div>
</div>
<div class="posledni3">
    <div class="posledni">
        <div class="row justify-content center">
            <div class="col-4">
                <div class="posledniobj">
                    <div class="covichki">
                        <img
                            src="https://apf.mail.ru/cgi-bin/readmsg?id=15874968771018217848;0;1&exif=1&full=1&x-email=atamazov99%40mail.ru" />
                    </div>
                    <div class="posledni text">
                        Lorem Ipsum является текст-заполнитель обычно используется в
                        графических, печать и издательской индустрии для
                        предварительного просмотра макета и визуальных макетах
                    </div>
                    <div class="row mt-4">
                        <div class="col-3">
                            <img src="https://pngimg.com/uploads/industrial_worker/industrial_worker_PNG11447.png "
                                class="surt" />
                        </div>
                        <div class="col-6">
                            VINGENT SMITH <br />
                            <span class="zvezda">★ ★ ★ ★ ★</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="posledniobj">
                    <div class="covichki">
                        <img
                            src="https://apf.mail.ru/cgi-bin/readmsg?id=15874968771018217848;0;1&exif=1&full=1&x-email=atamazov99%40mail.ru" />
                    </div>
                    <div class="posledni text">
                        Lorem Ipsum является текст-заполнитель обычно используется в
                        графических, печать и издательской индустрии для
                        предварительного просмотра макета и визуальных макетах
                    </div>
                    <div class="row mt-4">
                        <div class="col-3">
                            <img src="https://www.novosel.ru/i/14/39/8143907.jpg" class="surt" />
                        </div>
                        <div class="col-6">
                            VINGENT SMITH <br />
                            <span class="zvezda">★ ★ ★ ★ ★</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="posledniobj">
                    <div class="covichki">
                        <img
                            src="https://apf.mail.ru/cgi-bin/readmsg?id=15874968771018217848;0;1&exif=1&full=1&x-email=atamazov99%40mail.ru" />
                    </div>
                    <div class="posledni text">
                        Lorem Ipsum является текст-заполнитель обычно используется в
                        графических, печать и издательской индустрии для
                        предварительного просмотра макета и визуальных макетах
                    </div>
                    <div class="row mt-4">
                        <div class="col-3">
                            <img src=" https://tgorlovka.com/wp-content/uploads/2018/12/rabochii-stroitel-murovka-opalubka-i-proch-photo-0878.jpg"
                                class="surt" />
                        </div>
                        <div class="col-6">
                            VINGENT SMITH <br />
                            <span class="zvezda">★ ★ ★ ★ ★</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pochticonec">
    <div class="row justify-content center mt-5">
        <div class="col-5">
            <img src="https://akvilon.ua/content/uploads/images/apppppr.png" class="pochtifoto" />
        </div>
        <div class="col-6 ml-5 mt-5">
            <div class="pochtitext">
                <div class="building">Building and Construction -- FAQs</div>
                <div class="pochtitext1">
                    - Давно выяснено, что при оценке дизайна и композиции
                </div>
                <br />
                <div class="pochtitext1">
                    + Давно выяснено, что при оценке дизайна и композиции
                </div>
                <span class="textspan">
                    Давно выяснено, что при оценке дизайна и композиции Давно
                    выяснено, что при оценке дизайна и композиции</span>

                <div class="pochtitext1">
                    + Давно выяснено, что при оценке дизайна и композиции
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscride justify-content center">
    <div class="subscride1">Subscribe to get the latest news</div>
    <div class="subscride2">
        Давно выяснено, что при оценке дизайна и композиции Давно
    </div>
    <input type="text" class="inputext" value="Введите текст" />
    <button class="inputknopka">Supscride</button>
</div>