<div class="nizuimg">
    <div class="nizu">
        <div class="row">
            <div class="col-4">
                <div class="nizuobj">
                    <div class="ikona">
                        <img
                            src=" https://apf.mail.ru/cgi-bin/readmsg?id=15874931680068764513;0;1&exif=1&full=1&x-email=atamazov99%40mail.ru" />
                    </div>
                    <div class="cifra">1.5K</div>
                    <div class="nizuzagolovok">Designed building</div>
                    <div class="nizutext">
                        Давно выяснено, что при оценке дизайна и композиции
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="nizuobj">
                    <div class="ikona">
                        <img
                            src="https://apf.mail.ru/cgi-bin/readmsg?id=15874935401093967208;0;1&exif=1&full=1&x-email=atamazov99%40mail.ru" />
                    </div>
                    <div class="cifra">120+K</div>
                    <div class="nizuzagolovok">Completed projects</div>
                    <div class="nizutext">
                        Давно выяснено, что при оценке дизайна и композиции
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="nizuobj">
                    <div class="ikona">
                        <img
                            src="https://apf.mail.ru/cgi-bin/readmsg?id=15874938521173828228;0;1&exif=1&full=1&x-email=atamazov99%40mail.ru" />
                    </div>
                    <div class="cifra">1.2K</div>
                    <div class="nizuzagolovok">Happy client</div>
                    <div class="nizutext">
                        Давно выяснено, что при оценке дизайна и композиции
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="podval justify-content center">
    <div class="row justify-content center">
        <div class="col-5 justify-content center">
            <span class="podvaltext1"> Let's get started</span>
            <span style="font-size: 20px;">
                your project with professional way
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4">
            <button class="btn3">
                Get a Quote
            </button>
        </div>
    </div>
</div>

<div class="action">
    <div class="row">
        <div class="col-5">
            <div class="from">
                We pride ourselves on aiming
            </div>
            <div class="offering">
                perfection in every project
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="kletki"></div>
                    <div class="kletki"></div>
                    <div class="kletki"></div>
                    <div class="kletki"></div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn-outline-warning">View All</button>
</div>

<div class="karusel">
    <div class="row ml-5 ">
        <div class="col-3 ">
            <div class="karuselfoto"></div>
            <div class="foto1"></div>
            <div class="karuseltext">
                New construction Project
                <div class="karstrelka"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="foto2"></div>
            <div class="karuseltext">
                New construction Project
                <div class="karstrelka"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="foto3"></div>
            <div class="karuseltext">
                New construction Project
                <div class="karstrelka"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="foto4"></div>
            <div class="karuseltext">
                New construction Project
                <div class="karstrelka"></div>
            </div>
        </div>
    </div>
</div>
<div class="sponsor">
    <img src="/assets/image/tg_image_1954571222.jpg" />
</div>